:root {
  --primary_color: #b0adad;
  --light_color: #bcbcbc;
  --dark_color: #001a1e;
}


/* global */
img {
  max-width: 100%;
}

.bg_custom-primary {
  background-color: var(--primary_color);
}

.btn_custom-primary {
  background-color: var(--dark_color);
  color: #fff;
  transition: .3s ease;
  /* border-radius: 5px; */
}

.btn_custom-primary:hover{
  background-color: black;
}