:root {
  --primary_color: #b0adad;
  --light_color: #bcbcbc;
  --dark_color: #001a1e;
}

/* hide input type number arrow  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* global */
img {
  max-width: 100%;
}

.bg_custom-primary {
  background-color: var(--primary_color);
}

.btn_custom-primary {
  background-color: var(--dark_color);
  color: #fff;
  transition: .3s ease;
  border: transparent;
  outline: none;
  /* border-radius: 5px; */
}

.btn_custom-primary:hover {
  background-color: #003c46;
}